body {
    background: linear-gradient(90deg, white, #f1f1f1);
  }

  .center {
    text-align: center;
  }
  
  .fancy-font {
    font-family: 'Quicksand', sans-serif;
    font-size: 72px;
  }
  
  .slanted {
    transform: skew(-15deg);



  }

  #canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    }


